.grid-container {
    display: grid;
    grid-gap: 5px 5px;  /* [grid-row-gap grid-column-gap] */
    border: 3px solid black;
    border-radius: 5px;
}

.grid-container > div {
    background-color: hsla(207, 100%, 73%, 0.8);
    padding: 10px 0;
    font-size: 15px;
  }

  /* grid-areas named for easier arrangement of grid cells */
.item1 {    grid-area: header;  }
.item2 {    grid-area: character-create;   }
.item3 {    grid-area: equip-select;   }
.item4 {    grid-area: currency;   }
.item5 {    grid-area: equip-list;   }
.item6 {    grid-area: submit;   }
.item7 {    grid-area: footer;  }

.grid-container {
    grid-template-areas: 
    'header header header header'
    'character-create equip-list equip-list equip-list'
    'equip-select equip-list equip-list equip-list'
    'currency equip-list equip-list equip-list'
    'submit submit submit submit'
    'footer footer footer footer';
    grid-template-columns: 350px auto auto auto;
}

.item1, .item5, .item6, .item7 {
    text-align: center;
}

.item3 > input[type=number]  {
    width: 40px;
}

 