.grid-container {
    display: grid;
    grid-gap: 5px 5px;  /* [grid-row-gap grid-column-gap] */
}

.grid-container > div {
    background-color: hsla(207, 100%, 73%, 0.8);
    padding: 10px 0;
    font-size: 15px;
  }

.item1, .item13, .item14 {
    grid-column: 1 / 5;    /* #column-start / #column-end */
    text-align: center;
}

.item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11 {
    grid-column: 1 / 2;    /* #column-start / #column-end */
}

.item12 {
    grid-row: 2 / 12;    /* #row-start / #row-end */
    grid-column: 2 / 5;    /* #column-start / #column-end */
    text-align: center;
}
